<div class="aboutWrapper" fxLayout="row" fxLayoutAlign="center center">
    <div class="aboutContainer">
        <p> Инвестиционная компания, основанная в 2008 году и находящаяся в Киеве. Занимается инвестиционно-банковскими и брокерскими услугами, а также услугами в области частного банковского обслуживания. Основателем собственником и главой является Александр Омельчук.
            Согласно рейтингам ISI DealWatch и Euromoney, компания Phoenix Capital была признана крупнейшим украинским финансовым советником в 2009 году по количеству закрытых инвестиционно-банковских сделок.
            В 2010 году в ходе IPO компания привлекла денежные средства в размере 54 млн $ю
            Инвестиционная компания, основанная в 2008 году и находящаяся в Киеве. Занимается инвестиционно-банковскими и брокерскими услугами, а также услугами в области частного банковского обслуживания. Основателем собственником и главой является Александр Омельчук.
            Согласно рейтингам ISI DealWatch и Euromoney, компания Phoenix Capital была признана крупнейшим украинским финансовым советником в 2009 году по количеству закрытых инвестиционно-банковских сделок.
            В 2010 году в ходе IPO компания привлекла денежные средства в размере 54 млн $.</p>
    </div>
</div>
