.homeWrapper {
    width: 100%;
    padding-top: 30px;
    font-size: 24px;
    color: #3F51B5;
    .homeContainer {
        padding-top: 30px;  
        width: 70%;
        .uploadTitle {
            margin-bottom: 40px;
        }
    }
}